* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header-left li,
.header-rigth li {
  display: inline-block;
  line-height: 50px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: #000;
}
.color-black {
  color: #000;
}
.logo {
  height: 20px;
  width: 80px;
}
.bottone-app {
  background-color: rgb(234, 7, 139);
  padding: 13px;
  border-radius: 30px;
  color: #FFF;
}
.bottone-app:hover {
  color: #fff;
  background-color: #D2037E;
}
.arrow, .arrow-up {
  font-size: 9px;
  margin-left: 5px;

}
.color {
  color: white;
}
.black {
  color: #000;
}
.parent-dropdown {
  position: relative;
}
.dropdown {
  display: none;
  background-color: #fff;
  text-align: left;
  box-shadow: 1px 1px 4px rgba(179, 178, 178);
  position: absolute;
  right: -12px;
  top: 80px;
}
.dropdown li {
  line-height: 18px;
  display: inline-block;
}
.dropdown.active {
  display: block;
}
